# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.GoL.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kirby\Documents\Game Dev\Job Application Demos\GoL_Riot\GoL\.idea\.idea.GoL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
